<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Add Project</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-5.3.2.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/fontawesome-6.5.2.all.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/sgrsat.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	</head>
	<body class="bg-body-tertiary">
		<nav class="navbar navbar-expand-lg rounded-5 rounded-top-0">
			<div class="container-fluid mx-lg-5">
				<a class="navbar-brand py-0" href="{{url_for('projects')}}"><img src="/static/images/logo-hi.svg" style="max-width: 125px;" alt="NSGM Logo"> <img src="/static/images/sgrsatlogo.svg" style="max-width: 175px;" alt="SGRSAT Logo"></a>
				<button class="navbar-toggler btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><i class="fa-solid fa-bars"></i></button>
				<div class="collapse navbar-collapse text-center" id="navbar">
					<ul class="navbar-nav me-3 ms-auto">
						<li class="nav-item"><a class="nav-link text-secondary" href="{{url_for('projects')}}"><i class="fa-solid fa-home mx-1"></i>Projects</a></li>
						<li class="nav-item"><a class="nav-link text-secondary" href="{{url_for('profile')}}"><i class="fa-solid fa-circle-user mx-1"></i>Profile</a></li>
						<li class="nav-item"><a class="nav-link text-primary" href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket mx-1"></i>Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<form method="POST">
			<div class="container mt-3">
				<div class="display-6 text-center m-3 text-primary">Add New Project</div>
				<div class="row g-2">
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-building"></i></span>
							<div class="form-floating">
								<input type="text" class="form-control" name="utility" id="utility" placeholder="Utility" required>
								<label for="utility" class="text-secondary">Utility</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-earth-asia"></i></span>
							<div class="form-floating">
								<select class="form-select" name="state" id="state" required>
								</select>
								<label for="state" class="text-secondary">State</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
							<div class="form-floating">
								<select class="form-select" name="district" id="district" required>
								</select>
								<label for="district" class="text-secondary">District</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
							<div class="form-floating">
								<input type="text" class="form-control" name="area" id="area" placeholder="Project Area" required>
								<label for="area" class="text-secondary">Project Area</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
							<div class="form-floating">
								<input type="text" class="form-control" name="pocname" id="pocname" placeholder="PoC Name" required>
								<label for="pocname" class="text-secondary">PoC Name</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
							<div class="form-floating">
								<input type="text" class="form-control" name="pocdesig" id="pocdesig" placeholder="PoC Designation" required>
								<label for="pocdesig" class="text-secondary">PoC Designation</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
							<div class="form-floating">
								<input type="tel" class="form-control" name="poctel" id="poctel" placeholder="PoC Contact Number" required>
								<label for="poctel" class="text-secondary">PoC Contact Number</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
							<div class="form-floating">
								<input type="email" class="form-control" name="pocemail" id="pocemail" placeholder="PoC Email" required>
								<label for="pocemail" class="text-secondary">PoC Email</label>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-around">
					<a class="btn btn-grad px-5" href="{{url_for('projects')}}"><i class="fa-solid fa-turn-up fa-rotate-270 mx-1"></i>Go Back</a>
					<button class="btn btn-grad px-5" type="submit">Submit<i class="fa-solid fa-floppy-disk mx-1"></i></button>
				</div>
			</div>
		</form>
		<div class="footer">
			<footer class="sticky-bottom text-white text-center">
				<p class="m-1">&copy; 2024 All rights reserved. <strong>National Smart Grid Mission</strong>. Designed with ❤️ using Python-Flask</p>
			</footer>
		</div>
		<script type="text/javascript" src="/static/js/bootstrap-5.3.2.bundle.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/fontawesome-6.5.2.all.min.js"></script>
		<script type="text/javascript">
			var states = {{states|tojson|safe}};
			var stateoption = "<option selected disabled>Select State ...</option>";
			$.each(Object.keys(states), function(i,v) { stateoption += '<option value="' + v + '">' + v + '</option>'; });
			$("#state").html(stateoption);
			$("#state").change(function() {
				var selectedstate = $(this).val();
				var distictoption = "<option selected disabled>Select District ...</option>";
				var districts = states[selectedstate];
				$.each(districts, function(i,v) { distictoption += '<option value="' + v + '">' + v + '</option>'; });
				$("#district").html(distictoption);
			});
		</script>
		<script type="text/javascript">
			if ( window.history.replaceState ) { window.history.replaceState( null, null, window.location.href ); }
		</script>
	</body>
</html>